<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<h2>Docs</h2>
<ul>
  <li><a target="_blank" rel="noopener noreferrer" href="https://angular.io/cli">CLI Documentation</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://blog.angular.io/">Angular blog</a></li>
</ul>

<h2>Testing Methods Samples:</h2>
<ul>
  <li>Component:
    <ul>
      <li>Logic (attributes and functions): <code>components/logic-testing.component.spec.ts</code> shows how to create a shallow test to verify the component behavior;</li>
      <li>Template:
        <ul>
          <li><code>app.component.spec.ts</code>: shows how to create a shallow test to verify the component's template;</li>
          <li><code>components/inputs-outputs-testing.component.spec.ts</code>: shows to to test @Input and @Output;</li>
        </ul>
      </li>
      <li>Events (inputs and outputs)</li>
      <li>Forms</li>
      <li>Inject mocked service</li>
      <li>Inject mocked component</li>
    </ul>
  </li>
  <li>Service:
    <ul>
      <li>Business service (only logic)</li>
      <li>Api service (HTTP requests)</li>
    </ul>
  </li>
  <li>Pipe</li>
  <li>Directive</li>
</ul>

<router-outlet></router-outlet>
