<!-- Learned from Rodrigo Branas (https://www.youtube.com/playlist?list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb) -->

<!DOCTYPE html>
<html ng-app="contactList">
    <head>
        <meta charset="utf-8">
        <title>Contact List</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <style>
            .jumbotron { width: 500px; margin: 20px auto; padding: 23px 10px 10px 10px  ; text-align: center;}
            .table { margin-top: 20px; }
            td { text-align: left; }
            .form-control { margin-bottom: 5px; }
            .selected { background-color: #ffff99 !important; }
            .alert { margin-top: 10px; text-align: left; }
            .footer { text-align: center;}
        </style>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_pt-br.min.js"></script>

        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="config.js"></script>
        <script type="text/javascript" src="filters.js"></script>
        <script type="text/javascript" src="directives.js"></script>
        <script type="text/javascript" src="contactTypesAPIService.js"></script>
        <script type="text/javascript" src="contactsAPIService.js"></script>
        <script type="text/javascript" src="controllers.js"></script>

    </head>
    <body ng-controller="IndexController">
        <div class="jumbotron">
            <h3>{{appName}}</h3>

            <bs-alert ng-show="message" type="danger" title="Error during the request!" closable="false">{{message}}</bs-alert>

            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Amount owed</th>
                </tr>
                <tr ng-if="contacts.length == 0">
                    <td colspan="3">The list is empty (you are alone :'[)</td>
                </tr>
                <tr ng-repeat="contact in contacts" ng-class="{selected: contact.selected}">
                    <td style="text-align:center;"><input type="checkbox" ng-model="contact.selected" /></td>
                    <td>{{contact.name | name | ellipis}}</td>
                    <td>{{contact.type.description}}</td>
                    <td>{{contact.value}}</td>
                    <td>{{contact.amount | currency}}</td>
                </tr>
            </table>

            <form name="contactForm" novalidate>
                <input type="text" class="form-control" name="name" ng-model="contact.name" placeholder="Name" ng-required="true" ng-minlength="5" />
                <input type="text" class="form-control" name="value" ng-model="contact.value" placeholder="Value" ng-required="true" />
                <select class="form-control" name="type" ng-model="contact.type" ng-required="true" ng-options="type.description group by type.category for type in contactTypes">
                    <option value="">Select a type</option>
                </select>
                <input type="text" class="form-control" name="amount" ng-model="contact.amount" placeholder="Amount owed" ng-required="true" ng-pattern="/^\d+[,]?\d{0,2}$/" />

                <button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">Add Contact</button>
                <button class="btn btn-danger btn-block" ng-click="remContacts(contacts)" ng-show="isSelected(contacts)">Remove Contacts</button>
            </form>

            <div class="alert alert-danger" ng-show="contactForm.$invalid">
                <div ng-messages="contactForm.name.$error">
                    <span ng-message="required">Name is required.</span>
                    <span ng-message="minlength">Name is too short.</span>
                </div>

                <div ng-messages="contactForm.value.$error">
                    <span ng-message="required">The contact value is required.</span>
                </div>

                <div ng-messages="contactForm.type.$error">
                    <span ng-message="required">The type is required.</span>
                </div>

                <div ng-messages="contactForm.amount.$error">
                    <span ng-message="required">Amount is required.</span>
                    <span ng-message="pattern">Invalid amount.</span>
                </div>
            </div>
        </div>
        <div class="footer">
            Created by Wesley Egberto
        </div>
    </body>
</html>
